.main {
  background-color: rgba(231, 231, 218, 0.514);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 4rem 0;
}

.barre {
  background-color: rgba(49, 8, 233, 0.507);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
.title {
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.account {
background-color: rebeccapurple;
}


.page {
  background-color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px; 
  margin-left: 10px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:30px;
  width: 600px; 
  height: 30px;
  background-color: gold;
}

.inputContainer {
  position: relative;
}

.glass {
  position: absolute;

  top: 10px;
  left: 10px;
}